<div>
  <h3>Full Stack oauth xd</h3>
</div>

<div>
  <div>
    <button (click)="getHelloText()">Get hello text</button>
  </div>
  <div>
    <button (click)="logout()">Logout</button>
  </div>
  <div>
    <button (click)="getRestaurants()">/getRestaurants(adminsOnly)  </button>
  </div>
</div>
<div>
  {{ helloText }}
</div>
<div *ngIf="restaurants.length > 0">
  <ul>
    <li *ngFor="let restaurant of restaurants">
      {{ restaurant.name }} - {{ restaurant.location }} ({{ restaurant.type }})
    </li>
  </ul>
</div>

<div>
  <button routerLink="/postapi">Secured Post-Api Test</button>
</div>


<router-outlet/>